sentrycli_cdnurl=https://npmmirror.com/mirrors/sentry-cli
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
registry = https://registry.npmmirror.com
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
xprofiler_binary_host_mirror=https://npmmirror.com/mirrors/xprofiler
auto-install-peers=true
strict-peer-dependencies=false
node-linker=hoisted
